/* main containt css start */

.custom_navbar_css{
    box-shadow: 3px 1px 5px;
}
/* setting section css code start */

.setting_div{
    margin: 10px;
    margin-top: 90px;
}

.setting_div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.setting_div ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.setting_div ul li a:hover {
    background-color: #555;
    color: white;
  }
/* setting section css code end */

/* APPROVED REJECTED PENDDIING CSS START */

.title_div{
    margin-top: 100px;
}


/* APPROVED REJECTED PENDDIING CSS END */
.custom_jumbotron {
    height: 614px;
}
.pendding{
    margin-top: 85px;
    margin-left: 10px;
}
/* main containt css end */


/*FOOTER CSS CODE START*/
.custom_footer_div_class{
    height: 40px;
    padding: 5px;
    color: white;
    position: fixed;
}
.text-one li{
    display: inline;
    color : white;
    text-decoration: none;
    display: inline-block;
}
.text-one a {
    color:#FFFF;
    margin: 0px;
   margin-left: 100px;
    position: relative;
    float: right;
    
}



/*FOOTER CSS CODE END*/